<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>MSFC-7993119</string>
	<string>461413main_pia12835-raw</string>
	<string>509679main_M33</string>
	<string>477735main_hoag_hst_big</string>
	<string>478391main_ngc4921_hst_big</string>
	<string>MSFC-0700065</string>
	<string>422992main_b-smc-full</string>
	<string>418481main_image_1570</string>
	<string>366633main_stephq_1920</string>
	<string>MSFC-0300725</string>
</array>
</plist>
