<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>level</key>
	<integer>1</integer>
	<key>password</key>
	<integer>0</integer>
	<key>difficulty</key>
	<integer>3</integer>
	<key>lives</key>
	<integer>9</integer>
	<key>optionsUnlocked</key>
	<true/>
	<key>nasaAuthKey</key>
	<string>Tw8by8tPf3lpmWWM8tgdQpAk8FdRAe0UkQ0lXXPG</string>
</dict>
</plist>
